@use '../util' as u;

.btn {


  &-dark {
    background-color: var(--clr-beigeDark) !important;
    color: var(--clr-white);
    border-color: transparent !important;
  }

  &-cart {
    background-color: var(--clr-brown) !important;
  }
}