@use '../util' as u;

.timeline {
  background-image: url('../img/design/timeline-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;


  @include u.breakpoint-down(large) {
    overflow-x: scroll;
  }

  &-map {
    width: u.rem(1920);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;

    @include u.breakpoint-down(large) {
      overflow-x: scroll;
      height: 100vh;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-item {
    color: var(--clr-white);
    position: absolute;

    &:nth-of-type(1) {
      max-width: u.rem(183);
      top: u.rem(140);
      left: u.rem(105);

      @include u.breakpoint-down(medium) {
        top: u.rem(153);
      }
    }

    &:nth-of-type(2) {
      max-width: u.rem(183);
      top: u.rem(370);
      left: u.rem(220);

      @include u.breakpoint-down(medium) {
        left: u.rem(222);
        top: u.rem(370);
      }

      .timeline-info {
        left: u.rem(-100);
        top: u.rem(50);
      }
    }

    &:nth-of-type(3) {
      max-width: u.rem(149);
      top: u.rem(340);
      left: u.rem(470);


      @include u.breakpoint-down(medium) {
        top: u.rem(350);
      }

      .timeline-info {
        left: u.rem(-150);
        top: u.rem(-10);
      }
    }

    &:nth-of-type(4) {
      max-width: u.rem(131);
      top: u.rem(430);
      left: u.rem(610);

      .timeline-info {
        left: u.rem(-100);
        top: u.rem(50);
      }
    }

    &:nth-of-type(5) {
      max-width: u.rem(169);
      top: u.rem(300);
      left: u.rem(760);

      @include u.breakpoint-down(medium) {
        top: u.rem(300);
      }

      .timeline-info {
        left: u.rem(-190);
        top: u.rem(-10);
      }
    }

    &:nth-of-type(6) {
      max-width: u.rem(182);
      top: u.rem(490);
      left: u.rem(820);


      @include u.breakpoint-down(medium) {
        top: u.rem(510);
      }

      .timeline-info {
        left: u.rem(-20);
        top: u.rem(-50);
      }
    }

    &:nth-of-type(7) {
      max-width: u.rem(166);
      top: u.rem(490);
      left: u.rem(1090);

      .timeline-info {
        left: u.rem(20);
        top: u.rem(50);
      }
    }

    &:nth-of-type(8) {
      max-width: u.rem(212);
      top: u.rem(350);
      left: u.rem(1280);


      @include u.breakpoint-down(medium) {
        top: u.rem(365);
      }

      .timeline-info {
        left: u.rem(-80);
        top: u.rem(-50);
      }
    }

    &:nth-of-type(9) {
      max-width: u.rem(177);
      top: u.rem(250);
      left: u.rem(1495);

      .timeline-info {
        left: u.rem(80);
        top: u.rem(80);
      }
    }

    &:nth-of-type(10) {
      max-width: u.rem(163);
      top: u.rem(55);
      left: u.rem(1485);

      @include u.breakpoint-down(medium) {
        top: u.rem(70);
      }

      .timeline-info {
        left: u.rem(-200);
        top: u.rem(80);
      }
    }

    &:nth-of-type(11) {
      top: u.rem(80);
      left: u.rem(1700);

      @include u.breakpoint-down(medium) {
        top: u.rem(100);
      }

      .timeline-info {
        left: u.rem(-10);
        top: u.rem(0);
      }
    }
  }

  &-info {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {

      .timeline-image {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-image {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 10;
  }

  &-dot {
    width: u.rem(22);

    &--large {
      width: u.rem(50);
    }
  }

  &-title {
    font-size: u.rem(45);
    font-family: u.$fontForum;

    @include u.breakpoint-down(medium) {
      font-size: u.rem(35);
    }
  }

  &-desc {
    font-size: u.rem(16);

    @include u.breakpoint-down(medium) {
      font-size: u.rem(14);
    }
  }
}