:root {
  --clr-gray: #F7F7FA;
  --clr-grayOpac: rgba(255, 255, 255, 0.5);
  --clr-darkGray: #222222;
  --clr-white: #FFFFFF;
  --clr-red: #EA0029;
  --clr-purple: #AA1377;
  --clr-green: #6FA347;
  --clr-orange: #E36709;
  --clr-beige: #B5ABAA;
  --clr-beigeDark: #6A6363;
  --clr-brown: #3A1D1D;
}